.main-container
{
    max-width: 1444px;
    margin: 0 auto;
    
}

.announcement{
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    background-color: #d8e8e3;
    font-weight: 700;

}

.announcement span{
    padding-top: 3.2rem; 
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 520;
}

.left-right-section{
    display: flex;
    margin-bottom: 32px;
}


.left-right-section .text,  .text2{
    width: 50%;
    color: #1e3932;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f8f6;
}
.left-right-section .text1{
    width: 50%;
    color: #1e3932;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-right-section .text3 {
    width: 50%;
    color: #1e3932;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4e9e2;
}

.left-right-section .text4{
    width: 50%;
    color: #000000;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4e9e2;
}

.left-right-section .text2{
    width: 50%;
    color: #ffffff;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e3932;
}

.left-right-section .image{
    width: 50%;
    height: 380px;
    
}

.left-right-section .image4{
    width: 50%;
    height: 400px;
    
}

.left-right-section .image1{
    width:50%;
    height:560px;
    background-color: #ebdbc8;
}

.left-right-section .image3{
    width:50%;
    height:585px;
    
}
.left-right-section .image2{
    width: 50%;
    height:600px;
}

.left-right-section .image img, .left-right-section .image1 img, .left-right-section .image2 img ,.left-right-section .image3 img, .left-right-section .image4 img{
    height: 100%;
}

.text h1, .text h3 , .text4 h1 , .text4 h3{
    margin: 0;
    font-weight: 400;
}

.text h1 , .text4 h1{
    margin-bottom: 24px;
}
.text1 h1, .text2 h1 , .text3 h1{
    margin-bottom: 24px;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 750;
    text-align: center!important; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 32px 42px; 
    justify-content: center;
}

.text h3, .text4 h3{
    margin-bottom: 32px;
}

.text4 h3{
    text-align: center;
}

.text1 h3, .text2 h3 ,.text3 h3{
    margin-bottom: 32px;
    font-size: 30px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    text-align: center!important;
}


.text .cta, .text1 .cta ,.text2 .cta , .text3 .cta , .text4 .cta{
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: #1e3932;
    font-weight:600 ;
    cursor: pointer;
}
.text2 .cta{
    color: #FFFFFF;
}

.text2 .cta:hover{
    background-color: hsla(0,0%,100%,.12);
}
.text .cta:hover, .text1 .cta:hover, .text3 .cta:hover, .text4 .cta:hover{
    background-color: rgba(30,57,50,.1);

}


.left-right-section .text1{
    color: #1e3932;
    background-color: #ebdbc8;
}

.terms .restriction {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    font-weight: 550;
    font-size: 14px;
    line-height: 1.8;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.terms .info{
    
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center!important;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 14px;
    line-height: 1.8;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
